
<%- include('../includes/header.ejs') %>
        <link rel="stylesheet" href="/css/blogs/home.css">
        <link rel="stylesheet" href="/css/includes/full-blog.css">
        <link rel="stylesheet" href="/css/includes/list-blog.css">
    </head>
    <body>
        <%- include('../includes/nav-header.ejs') %>

        <%- include('../includes/full-blog.ejs') %>

        <%- include('../includes/list-blog-2.ejs') %>

        <%- include('../includes/footer.ejs') %>
        
        <script src="/js/nav-header.js" async defer></script>
        <script src="/js/list-blog.js" async defer></script>
    </body>
</html>