
<%- include('../includes/header.ejs') %>
        <link rel="stylesheet" href="/css/blogs/home.css">
        <link rel="stylesheet" href="/css/includes/blogs.css">
        <link rel="stylesheet" href="/css/includes/add-blog.css">
    </head>
    <body>
        <%- include('../includes/nav-header.ejs') %>

        <%- include('../includes/add-blog.ejs') %>

        <%- include('../includes/blogs.ejs') %>

        <%- include('../includes/footer.ejs') %>
        
        <script src="/js/nav-header.js" async defer></script>
    </body>
</html>